# Basics of Python Part 02

## Operators

### Arithmetic Operators

In [12]:

print(2+3)    # addition
print(2-3)    # subtraction
print(2*3)    # multiplication
print(2/3)    # float division
print(2//3)   # integer division
print(2%3)    # modulus or remainder
print(2**3)   # raise to power (here 2 raise to power 3)

5
-1
6
0.6666666666666666
0
2
8


### Assignment Operators

In [2]:

# assign value of right to left ( = operator )

y = 5   # value 5 assigned to variable y
print(y)

a,b = 5,6  # two values assigned in single line
print(a,b)

5
5 6


### Relational Operators

In [3]:

# return a bool value (either true or false after evaluating the expression)

print(2<3)    # less than
print(2<=3)   # less than equal to
print(2>3)    # greater than
print(2>=3)   # greater than equal to
print(2==3)   # equal to
print(2!=3)   # not equal to

True
True
False
False
False
True


### Logical Operators

In [4]:

a = 5
b = 4

print(a<4 and b<5)

        # for 'and' -
        # True + True = True 
        # T + F = F
        # F + T = F
        # F + F = F

print(a>4 or b<3)

        # for 'or' -
        # True + True = True 
        # T + F = T
        # F + T = T
        # F + F = F

x = True
print(not x) 
        # not --> reverse 
        # for 'not' -
        # True -> False 
        # False -> True

False
True
False

### Unary Operators

In [5]:

# ( - operator negates the sign )
n = 7
print(-n)

n = -7
print(-n)

-7
7


### Bitwise Operators

In [6]:

x = 5
y = 8

# Returns x with the bits shifted to the left by y places (and new bits on the right-hand-side are zeros). 
# This is the same as multiplying x by 2 ** y ( 2 raise to power y) .
print("left shift",x<<y)

# Returns x with the bits shifted to the right by y places. This is the same as integer dividing x by (2 ** y).
print("right shift",x >> y)

# Does a "bitwise and". Each bit of the output is 1 if the corresponding bit of x AND of y is 1, otherwise it's 0.
print("bitwise and",x & y)

# Does a "bitwise or". Each bit of the output is 0 if the corresponding bit of x AND of y is 0, otherwise it's 1.
print("bitwise or",x | y)

# Returns the complement of x - the number you get by switching each 1 for a 0 and each 0 for a 1. 
# This is the same as -x - 1 (complement of x - 1).
print("complement of x",~x)

# Does a "bitwise exclusive or". Each bit of the output is the same as the corresponding bit in x if that bit in y is 0, 
# and it's the complement of the bit in x if that bit in y is 1.
print("bitwise exclusive or (xor)",x^y)

left shift 1280
right shift 0
bitwise and 0
bitwise or 13
complement of x -6
bitwise exclusive or (xor) 13


# Number System

In [7]:

# decimal to binary

x = bin(25)
print(x)
print(type(x))

# octal to binary
x = bin(0o31)
print(x)
print(type(x))

# hexadecimal to binary
x = bin(0x31)
print(x)
print(type(x))

0b11001
<class 'str'>
0b11001
<class 'str'>
0b110001
<class 'str'>

In [8]:

# binary to decimal
# 0b denotes binary 

print(0b11001)

# octal to decimal
# 0o denotes octal 

print(0o31)

# hexadecimal to decimal
# 0x denotes hexadecimal 

print(0x31)

25
25
49

In [9]:

# binary to octal

x = oct(0b11001)
print(x)

# decimal to octal

x = oct(25)
print(x)

# hexadecimal to octal

x = oct(0x31)
print(x)

0o31
0o31
0o61

In [10]:

# binary to hexadecimal

x = hex(0b11001)
print(x)

# octal to hexadecimal

x = hex(0o31)
print(x)

# decimal to hexadecimal

x = hex(25)
print(x)

0x19
0x19
0x19

## Aliasing

In [5]:

# importing math library

import math
print(math.sqrt(5))  # printing square root of 5

2.23606797749979

In [6]:

import math as m        # as used for aliasing

print(m.sqrt(4))           # because of aliasing math can be represented as m

2.0


## Math Library

In [10]:

import math as m        # as used for aliasing

# square root
print(m.sqrt(4))

# power(x,y) x raise to power y
print(m.pow(4,2))

# floor
print(m.floor(4.6))

# ceil
print(m.ceil(4.6))

# value of pi
print(m.pi)

# value of e
print(m.e)

2.0
16.0
4
5
3.141592653589793
2.718281828459045


## User Input

In [13]:

x = input("enter value : ")  # for taking input from user
print(x)
print(type(x))               # input() function gives input in string format always

enter value :  5

5
<class 'str'>

In [15]:

# typecast it to integer
x = int(input("enter value : "))
print(x)
print(type(x))

y = x + 5
print(y)

enter value :  5

5
<class 'int'>
10

In [18]:

# eval() to evaluate an expression 
x = eval(input("enter expression : "))
print(x)
print(type(x))

enter expression :  5-6+2

1
<class 'int'>

## Conditional statements

### If :

In [22]:

if True:
    print("inside the if")

if(3<5):
    print("3 less than 5")

inside the if
3 less than 5


### If - Else :

In [23]:

if False:
    print("inside the if")
else:
    print("inside the else")


if(3>5):
    print("3 greater than 5")
else:
    print("3 less than 5")

inside the else
3 less than 5


### if - Elif - else :

In [24]:

if False:
    print("inside the if")
elif True:
    print("inside the elif")
else:
    print("inside the else")


if(3>5):
    print("3 greater than 5")
elif(3<4):
    print("3 less than 4")
else:
    print("inside else")

inside the elif
3 less than 4

In [26]:

if False:
    print("inside the if")
elif False:
    print("inside the elif")
else:
    print("inside the else")


if(3>5):
    print("3 greater than 5")
elif(3>6):
    print("3 greater than 6")
else:
    print("inside else")

inside the else
inside else

## Loops

### While Loop

In [27]:

i = 0
while(i<5):
    print(i,end=" ")   # end=" " for printing in same line, on the new line is not printed
    i+=1

0 1 2 3 4


### For Loop

In [29]:

for i in range(0,5):
    print(i,end=" ")

0 1 2 3 4

## Break

In [30]:

for i in range(0,5):
    if(i==2):
        break              # break terminates the loop (here when the condition is met, when i is 2
    print(i,end=" ")

0 1


## Continue

In [31]:

for i in range(0,5):
    if(i==2):
        continue              # continue skips the loop iteration when the condition is met, here when i is 2
    print(i,end=" ")

0 1 3 4

## Pass

In [34]:

for i in range(0,5):
    if(i==3):
        pass                 # pass represents when nothing is to write, can't assign empty
    else:
        print(i)

0
1
2
4