# Basics of Python ( Part 01 )

### print() function

In [37]:
# to print output

print("hello world")

hello world

### Normal arithmetics

In [38]:
# addition 
print(5+3)

# subtraction
print(5-3)

# multiplication
print(5*3)

# division 

print(5/3)           #  1. float division

print(5//3)          #  2. Integer division


# remainder (modulus)
print(5%3)

8
2
15
1.6666666666666667
1
2

### Variables

In [39]:
x = 2               # integer value 2 stored in variable x
print(x)

x = 6               # value stored in x is changed to 6
print(x)

2
6

In [40]:
10

10

In [69]:
print(_+6)          # ( '_' underscore always represents the result of previous operation performed in this case last output was 10)

16

In [70]:
x = 'hii'

# address of variable
print(id(x))

4425262320

In [72]:

# print type of variable
x = 3.145
print(type(x))

<class 'float'>

# Datatypes

## 1. None

In [75]:
y
print(y)

NameError: name 'y' is not defined

In [76]:
# since any value must be assigned to y so in case of not assigning a value
y = None    # same as null value assigned to variable
print(y)

None

## 2. Numeric

#### 2.1 Int datatype

In [78]:
x = 2
print(type(x))

<class 'int'>

#### 2.2 float datatype

In [80]:
x = 5.678
print(type(x))

<class 'float'>

In [88]:

# typecasting

# int to float
x = 2
print(float(x))

2.0

In [89]:

# typecasting

# float to int
x = 2.8967
print(int(x))

2

#### 2.3 complex datatype

In [83]:
x = 3j+2
print(type(x))

<class 'complex'>

In [92]:

# typecasting

# int to complex
x = 2
y = 3
print(complex(x,y))

# float to complex
x = 2.54
y = 3.56
print(complex(x,y))

(2+3j)
(2.54+3.56j)

#### 2.4 bool datatype

In [86]:
x = True           # True == 1 and False == 0
print(type(x))

if x==1:
    print("it is True or 1 ")
else:
    print("it is False or 0 ")

<class 'bool'>
it is True or 1

In [93]:
# typecasting

# bool to int
print(int(True))
print(int(False))

1
0

## 3. Strings

In [73]:

name = 'devanshee'   # string value stored in variable
print(name)

devanshee

In [48]:
# 0 based indexing in python

# string - d  e  v  a  n  s  h  e  e

# index -  0  1  2  3  4  5  6  7  8       ( forward indexing )
#         -9 -8 -7 -6 -5 -4 -3 -2 -1       ( backward indexing )

# print character at index 0,5,8 in string  ( general syntax ------> string_name[index] either by using forward indexing or backward )

print(name[0], name[5], name[8])  # forward indexing

print(name[-9], name[-4], name[-1])  # backward indexing

d s e
d s e

In [94]:

# print subarray of string (slicing a string)

str = "slice this"  # (either double quotes or single quotes can be used to represent string)
print(str[0:5])     # syntax -------> string_name[start_index:end_index] 

                    # end_index is not inclusive and start_index is inclusive

print(str[0:5:2])   # general syntax -------> string_name[start_index:end_index,step] by default if step not mentioned step is 1 (like above) .

print(str[:5])      # if start_index not mentioned ----> by default 0

print(str[2:])      # if end_index not mentioned ------> by default ending index of string

print(str[:])       # whole string

slice
sie
slice
ice this
slice this

In [95]:

# above was using forward indexing

# now using backward indexing

str = "slice this"




# if step is not mentioned or (mentioned step > = 1):
       # if start_index not mentioned -> by default index 0
       # or if end_index not mentioned -> by default ending index of string
                            # (moves forward)

print(str[-1:])        # starting from index -1 move forward till end of string



# if mentioned step < 0 :
    # (moves backward)
    # to move backward from a start position to ending one, start_index must be greater than end_index

    # if start_index not mentioned in this case -> by default last index of string
    # or if end_index not mentioned -> by default index 0
        

print(str[0:4:-1])    # 0 is start_index and 4 is end_index, step<0 and start_index is less than end_index so ----> no output 

print(str[4:0:-1])    # now it will print output  

print(str[:-4:-2])    # starting_index is last index and end_index is -4 so move backward from last index to index -4 by step 2 (step= -2)

print(str[::-1])      # reverse string

s

ecil
sh
siht ecils

In [96]:

# string is immutable
# can't make changes in characters of string
# str[0] = 'm'  -----> (X) (can't)
# str[0:3]= 'hi' -----> (X) (can't)

## 3. List

In [98]:

# square brackets

x = [1,2,3,4,5]
print(x)
print(type(x))

[1, 2, 3, 4, 5]
<class 'list'>

## 4. Tuple

In [99]:

# round brackets

x=(1,2,3,4,5)
print(x)
print(type(x))

(1, 2, 3, 4, 5)
<class 'tuple'>

## 5. Set

In [100]:

# set stores only distinct values
# curly brackets
x={1,2,3,4,5,1,2}
print(x)
print(type(x))

{1, 2, 3, 4, 5}
<class 'set'>

## 6. Dictionary

In [101]:

# key value pair in curly brackets
x = { 'name' : 'devanshee' , 'age' : 20 }
print(x)
print(type(x))

{'name': 'devanshee', 'age': 20}
<class 'dict'>

## 7. Range

In [105]:

# creates continuous series from start_index to end_index --> range(start_index.end_index)
x = range(0,5)
print(x)
print(type(x))

# changing range datatype to list
x=list(range(0,5))   # end_index is not inclusive (i.e. for range(0,5) numbers will be from 0 to 4 only)
print(x)
print(type(x))

range(0, 5)
<class 'range'>
[0, 1, 2, 3, 4]
<class 'list'>